* {
  margin: 0;
  padding: 0;
  font-family: 'Dancing Script', serif !important;
}

body {
  box-sizing: border-box;
}

.parallax {
  background-attachment: scroll;
  background-position: 100%;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: cover;
  height: 50vh;
  width: 100%;
}

.section--parallax-1 {
  background-image: url('../assets/image_8.jpg');
  height: 100vh;
}

.section--parallax-2 {
  background-image: url('../assets/image_9.jpg');
}

.section--parallax-3 {
  background-image: url('../assets/image_8.jpg');
  height: 100vh;
  position: relative;
}

.section--parallax-3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.section--parallax-3 .container {
  z-index: 1;
}

.container {
  margin: auto;
  max-width: 1400px !important;
  padding: 0 20px;
}

.section__box p:first-child {
  font-family: 'Poppins', serif !important;
}

.section__wrapper .section__box {
  color: rgb(115, 115, 115);
}

.section__box h3 {
  font-family: 'Poppins', serif !important;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.section__bg {
  background-image: url('https://w.ladicdn.com/s1440x1250/6446a909ce8883001284c7a2/paper-texture-20240119073259-9s9u9.png');
}

.section__form .section__title {
  font-family: 'Poppins', serif !important;
}

.form__item {
  font-family: 'Poppins', serif !important;
  width: 100%;
  padding-bottom: 10px;
}

.form {
  width: 100%;
}

.form__input {
  width: 100%;
  padding: 10px 16px !important;
  font-family: 'Inter', serif !important;
  color: rgb(115, 115, 115);
  border-radius: 10px;
  height: 54px;
}

.form__input option {
  font-family: 'Inter', serif !important;
  color: rgb(115, 115, 115);
}

.form__input::placeholder {
  color: rgb(115, 115, 115);
}

.form__input:focus {
  outline: none;
}

.form__item--textarea .form__input {
  height: unset;
}

.form__button {
  transform: all 0.5s;
}

.form__button:focus {
  outline: none;
}

.form__button:hover {
  opacity: 0.8;
}

.section__image,
.section__item {
  overflow: hidden;
}

.section__image img,
.section__item img {
  transition: all 0.5s ease-in-out;
}

.section__image:hover img,
.section__item:hover img {
  transform: scale(1.05);
}

.swal2-title {
  font-size: 20px !important;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }


  .parallax {
    background-attachment: fixed;
    background-size: cover;
  }

  .section--parallax-2 {
    background-image: url('../assets/image_10.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .section__box h3 {
    width: 100px;
    height: 100px;
  }

  .form__item {
    width: 500px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    padding: 0 48px;
  }

  .section--parallax-1 {
    background-image: url('../assets/image_10.jpg');
  }

  .section--parallax-3 {
    background-image: url('../assets/image_10.jpg');
  }

  .section__box h3 {
    width: 120px;
    height: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0 72px;
  }

  .section__box h3 {
    width: 150px;
    height: 150px;
  }
}
