* {
  margin: 0;
  padding: 0;
  font-family: 'Dancing Script', serif !important;
}

body {
  box-sizing: border-box;
}

.parallax {
  background-attachment: fixed;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 100%;
}

.section--parallax-1 {
  background-image: url('../assets/image_10.jpg');
  height: 100vh;
}

.section--parallax-2 {
  background-image: url('../assets/image_9.jpg');
  background-repeat: repeat;
  background-size: contain;
}

.section--parallax-3 {
  background-image: url('../assets/image_10.jpg');
  height: 100vh;
}

.container {
  margin: auto;
  max-width: 1920px !important;
  padding: 0 74px;
}

.section__box p:first-child {
  font-family: 'Poppins', serif !important;
}

.section__wrapper .section__box {
  color: rgb(115, 115, 115);
}

.section__box h3 {
  font-family: 'Poppins', serif !important;
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.container--bg {
  background-image: url('https://w.ladicdn.com/s1440x1250/6446a909ce8883001284c7a2/paper-texture-20240119073259-9s9u9.png');
}

.section__form .section__title {
  font-family: 'Poppins', serif !important;
}

.form >* {
  color: rgb(115, 115, 115);
  font-family: 'Poppins', serif !important;
}

.form__item {
  font-family: 'Poppins', serif !important;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    padding: 0 32px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 0 48px;
  }
}
